* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, rgb(29, 161, 194), rgb(201, 201, 201));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
    height: 100vh;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.kontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px 30px;
    gap: 2rem;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.output {
    width: 100%;
    height: 50px;
    max-width: 100%;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #e6f2ff;
    box-shadow: 0px 0px 2px 0.5px;
    border: 0;
}

.output>p {
    font-size: 2rem;
    padding: 0 10px;
    color: #003366;
    font-weight: bold;
    font-size: larger;
}

.input {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.input button {
    width: 50px;
    height: 50px;
    font-size: x-large;
    background-color: #e6f2ff;
    color: #003366;
    border-radius: 50px;
    border: 0;
    box-shadow: 0px 0px 2px 0.5px;
    transition: 0.1s ease-in-out;
}

.input button:active {
    background-color: darkgray;
    transform: scale(0.8);
}